extends ../layout

block content
  h3.page-title
    | DJ's
  .page-bar
    ul.page-breadcrumb
      li
        i.fa.fa-home
        a(href='/venue/djs') DJ's
  .row
    .col-md-12
      div.portlet-body.form
       form#form_update_club.form-horizontal(method="post")
          .form-actions.top.right
            .row
              .col-md-offset-3.col-md-9
                button.btn.green(type='submit') Submit
                a.btn.default(href="/venue/djs", style="margin-left:5px;") Cancel

          .form-body
              .alert.alert-danger.display-hide
                button.close(data-close='alert')
                | You have some form errors. Please check below.
              .alert.alert-success.display-hide
                button.close(data-close='alert')
                | Your form validation is successful!

              if has_error
                div.alert.alert-danger.display-hide(style="display: block;")
                  button.close(data-close="alert")
                  | Incorrect data!!!
              .form-group
                  label.col-md-3.control-label Logo
                    span.required *
                  .col-md-5
                    .input-icon.right
                    i.fa
                    .preview
                        if dj.dj_logo
                          img(border='0', src='#{dj.dj_logo}', height='100')
                    div.fileUpload.btn.btn-default
                      span Upload
                      !=cloudinary.uploader.image_upload_tag('image', {html: { class: "upload", tag:"upload_avatar" }})
                    div#upload_avatar_progress
                      div.bar(style="width:0%;height:18px;background: green;")

                    input.form-control(type="hidden", name="dj_logo", value="#{dj.dj_logo?dj.dj_logo:''}")     

            .form-group
              label.control-label.col-md-3 Name
                span.required *
              .col-md-5
                .input-icon.right
                  i.fa
                  input.form-control(type='text', placeholder='Enter name', name="dj_name", value="#{dj.dj_name?dj.dj_name:''}")
            .form-group
              label.control-label.col-md-3 Email
                span.required *
              .col-md-5
                .input-icon.right
                  i.fa
                  input.form-control(type='text', placeholder='Enter email', name="dj_email", value="#{dj.dj_email?dj.dj_email:''}")

            .form-group
                label.control-label.col-md-3 Site
                  span.required *
                .col-md-5
                  .input-icon.right
                    i.fa
                    input.form-control(type='text', placeholder='Enter site', name="dj_site", value="#{dj.dj_site?dj.dj_site:''}")

            .form-group
                label.control-label.col-md-3 Phone
                  span.required *
                .col-md-5
                  .input-icon.right
                    i.fa
                    input.form-control(type='text', placeholder='Enter phone', name="dj_phone", value="#{dj.dj_phone?dj.dj_phone:''}")

            .form-group
                label.control-label.col-md-3 Type of music
                  span.required *
                .col-md-5
                  .input-icon.right
                    i.fa
                    input.form-control(type='text', placeholder='Enter type of music', name="dj_music", value="#{dj.dj_music?dj.dj_music:''}")

            .form-group
                label.control-label.col-md-3 Info
                  span.required *
                .col-md-5
                  .input-icon.right
                    i.fa
                    textarea.form-control(type='text', placeholder='Enter info', name="dj_info") #{dj.dj_info?dj.dj_info:''}
          
            .form-group.last
                    label.col-md-3.control-label Cover Images
                        span.required *
                    .col-md-4
                      table.table
                        if dj.dj_photos
                          for photo in dj.dj_photos
                            tr
                              td(style="vertical-align: middle;")
                                img.dj_image(border='0', src='#{photo}', height='200')
                              td(style="vertical-align: middle;")
                                a.btn.red.delete delete

                      div.fileUpload.btn.btn-default
                        span Add photo
                        !=cloudinary.uploader.image_upload_tag('image', {html: { class: "upload", tag:"upload_images" }})
                      div#upload_images_progress
                        div.bar(style="width:0%;height:18px;background: green;")

                      input(type="hidden", name="dj_photos", value="#{dj.dj_photos?dj.dj_photos.join():''}")

            .form-actions.right
              .row
                .col-md-offset-3.col-md-9
                  button.btn.green(type='submit') Submit
                  a.btn.default(href="/venue/djs", style="margin-left:5px;") Cancel

block scripts
  script(type="text/javascript", src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDWlaBHVehLQeKiXQXbguAFIg6k-2Jk3Vw&sensor=false&libraries=places&language=#{locale}")
  script(type="text/javascript", src="/assets/javascripts/jquery.geocomplete.min.js")
  script(src="/assets/admin/pages/scripts/update_dj.js", type='text/javascript')
  script(type="text/javascript")
    // Configure Cloudinary
    $.cloudinary.config({ api_key: '!{api_key}', cloud_name: '!{cloud_name}' });

    $('[tag=upload_images].cloudinary-fileupload').bind('fileuploadstart', function(e){
      //$('.preview').html('Upload started...');
      $('#upload_images_progress .bar').css('width', '0%');
    });

    $('[tag=upload_images].cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
      $('#upload_images_progress .bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
    });
    // Upload finished
    $('[tag=upload_images].cloudinary-fileupload').bind('cloudinarydone', function(e, data){
      $( "table.table" ).prepend( "<tr><td style='vertical-align: middle;'><img class='dj_image' src='" + $.cloudinary.url(data.result.public_id) + "' height='200'></td><td style='vertical-align: middle;'><a class='btn red delete'>delete</a></td></tr>");
      $('#upload_images_progress .bar').css('width', '0%');
      updateDjImages()
      return true;
    });
    $('[tag=upload_avatar].cloudinary-fileupload').bind('fileuploadstart', function(e){
      //$('.preview').html('Upload started...');
      $('#upload_avatar_progress .bar').css('width', '0%');
    });

    $('[tag=upload_avatar].cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
      $('#upload_avatar_progress .bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
    });

    $('[tag=upload_avatar].cloudinary-fileupload').bind('cloudinarydone', function(e, data){
      $('[name=dj_logo]').val($.cloudinary.url(data.result.public_id));
      $('.preview').html(
        $.cloudinary.image(data.result.public_id, { format: data.result.format, version: data.result.version,  height: 100 })
      );
      $('#upload_avatar_progress .bar').css('width', '0%');
      return true;
    });

    $(".delete").live("click", function(){
      $(this).closest('tr').remove();  
      updateDjImages();
    });

    function updateDjImages() {
      $('[name=dj_photos]').val($('img.dj_image').map(function() { return this.src; }).get().join());
    }

    var geocomplete_options;

    if ($("#select_address").length > 0) {
      geocomplete_options = {
        map: "#location_image",
        markerOptions: {
          draggable: true
        },
        details: "form"
      };

      if ($("input[name=lat]").val() && $("input[name=lng]").val()) {
        geocomplete_options["location"] = [$("input[name=lat]").val(), $("input[name=lng]").val()];
      }
      $("#select_address").geocomplete(geocomplete_options);
      $("#select_address").bind("geocode:dragged", function(event, latLng) {
        console.log(latLng);
        
        $("input[name=lat]").val(latLng.lat());
        return $("input[name=lng]").val(latLng.lng());
      });
    }

    FormValidation.init();
    //ComponentsPickers.init();