extends ../layout

block content
  style(type='text/css')
    th, td {
      text-align: center;
    }
  //
     BEGIN PAGE HEADER
  h3.page-title
    | News
  .page-bar
    ul.page-breadcrumb
      li
        i.fa.fa-home
      //a(href='/venue/#{current_venue._id}/news_create') News
      //li
        a(href='#') Page Layouts
        i.fa.fa-angle-right
      //li
        a(href='#') Blank Page

  //
     END PAGE HEADER
  //
     BEGIN PAGE CONTENT
  .row
    .col-md-12
      table.table.table-bordered.table-striped.table-condensed.flip-content
        thead.flip-content
          tr
            th(width='10%')
              | Photo
            th
              | Title
            th
              | Description
            th
              | Date Created
            th
        tbody
          for the_news in news
            tr
              td(style="vertical-align: middle;")
                if the_news.photos[0]
                  img(src='#{the_news.photos[0]}', alt='#{the_news.title}', height="50")

              td(style="vertical-align: middle;")
                | #{the_news.title} 
              td(style="vertical-align: middle;")
                | #{the_news.description} 
              td(style="vertical-align: middle;")
                | #{the_news.updated_on} 
              td(style="vertical-align: middle;")
                  a.edit-btn.btn.default.yellow(href='/venue/#{type}/news_edit/#{_id}/#{the_news._id}', style="margin:3px")
                    i.fa.fa-edit
                      &nbsp;
                      | edit
                  a.btn.default.black(href='/venue/#{type}/news_delete/#{_id}/#{the_news._id}', style="margin:3px", onclick="return confirm('Are you sure you want to delete this news?')")
                    i.fa.fa-edit
                      &nbsp;
                      | delete
      div
        a.btn.btn-primary(href="/venue/#{type}/news_create/#{_id}") Add News
